


#calyblok{
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
}


#header{
    background-color: red;
    color: #fff;
    text-align: center;
    
}

#p{
    background-color: rgb(60, 135, 255);
    color: #fff;
    text-align: center;
    min-height: 200px;
}

#left{
    background-color: green;
    color: #fff;
    text-align: center;
    min-height: 200px;
}

#right{
    background-color: pink;
    color: #fff;
    text-align: center;
    min-height: 200px;
}
#fotter{
    background-color: blueviolet;
    color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    #p
    #right
    #left {
        width: 45%;
    }
}

@media (max-width: 992px ){
    #p
    #right
    #left {
        width: 60%;
    }

}

@media(min-width: 768px){
    #p
    #right
    #left {
        width: 50%;}

    }

 
@media (min-width: 768px) and (max-width: 992px ){
    #p
    #right
    #left {
        width: 40%;}

}
